a.jcroonen {
    background-position: -400px -70px;
}
a.jancroonen {
    background-position: -440px 0;
}
a.dev-jcroonen {
    background-position: -400px -70px;
    opacity: 0.6;
}
a.dev-jancroonen {
    background-position: -440px 0;
    opacity: 0.6;
}
a.bookmarklet {
    background-position: -411px -155px;
}
a.sophiq {
    background-position: -178px 0;
}
a.gmail-approach {
    background-position: -90px 0;
}
a.gmail-sophiq {
    background-position: -363px 0;
}
a.phpmyadmin {
    background-position: -274px 0;
}
a.sophiqwiki {
    background-position: 0 -76px;
}
a.xampp {
    background-position: -90px -76px;
}
a.movies13 {
    background-position: -170px -76px;
}
a.gmail {
    background-position: -274px -76px;
}
a.ing {
    background-position: -73px -158px;
}
a.nzbindex {
    background: #11386d 0 -224px;
}
a.nzbsearch {
    background-position: -806px -354px;
}
a.boxset {
    background-position: -220px -150px;
}
a.avaxhome {
    background-position: -308px -150px;
}
a.abn-amro {
    background-position: -142px -222px;
}
a.tijd {
    background-position: -251px -232px;
}
a.syno {
    background-position: -470px -232px;
}
a.moviesfront {
    background-position: -494px -151px;
}
a.thecus {
    background-position: -528px 0;
}
a.downloader {
    background-position: 5px -155px;
}
a.croonenweb {
    background-position: -15px -280px;
}
a.mba {
    background-position: -315px -286px;
}
a.huxley {
    background-position: -6px -348px;
}
a.qualogy {
    background-position: -320px -388px;
}
a.itaq {
    background-position: -78px -355px;
}
a.cf {
    background-position: -3px -450px;
}
a.harvey {
    background-position: -300px -475px;
}
a.ardekay {
    background-position: -6px -521px;
}
a.it-staffing {
    background-position: -417px -475px;
}
a.fastflex {
    background-position: -6px -636px;
}
a.ukomst {
    background-position: -248px -546px;
}
a.source {
    background-position: -6px -734px;
}
a.thesio {
    background-position: -247px -724px;
}
a.squareone {
    background-position: -247px -618px;
}
a.progressive {
    background-position: -520px -724px;
}
a.darwin {
    background-position: -6px -806px;
}
a.aston {
    background-position: -6px -878px;
}
a.f-4 {
    background-position: -290px -807px;
}
a.freelance-nl {
    background-position: -270px -890px;
}
a.spirit {
    background-position: -170px -909px;
}
a.orgtel {
    background-position: -437px -540px;
}
a.kiln {
    background-position: -610px 8px;
}
a.fogbugz {
    background-position: -752px 10px;
}
a.magento {
    background-position: -607px -64px;
}
a.sslshopper {
    background-position: -596px -130px;
}
a.esg {
    background-position: -676px -138px;
}
a.dynalean {
    background-position: -609px -220px;
}
a.home {
    background-position: -599px -287px;
}
a.opos {
    background-position: -622px -360px;
}
a.twig {
    background-position: -667px -289px;
}
a.dynalogic {
    background-position: -619px -417px;
}
a.wkhtml {
    background-position: -660px -485px;
}
a.netflix {
    background-position: -640px -557px;
}
a.webwereld {
    background-position: -650px -641px;
}
a.slashdot {
    background-position: -655px -728px;
}
a.wired {
    background-position: -650px -786px;
}
a.mashable {
    background-position: -650px -846px;
}
a.readwrite {
    background-position: -666px -906px;
}
a.smashing {
    background-position: -662px -966px;
}
a.linkedin {
    background-position: -528px -606px;
}
a.twitter {
    background-position: -536px -540px;
}
a.id3 {
    background-position: 7px -966px;
}
a.luister {
    background-position: -906px -1174px;
}
a.kijk {
    background-position: -150px -968px;
}
a.read {
    background-position: -216px -968px;
}
a.google {
    background-position: -298px -960px;
}
a.kijk {
    background-position: -877px 8px;
}
a.luister2 {
    background-position: -822px 7px;
}
a.dlink {
    background-position: -830px -56px;
}
a.synology {
    background-position: -790px -290px;
}
a.userpass {
    background-position: -890px -128px;
}
a.dell {
    background-position: -540px -805px;
}
a.hp {
    background-position: -855px -560px;
}
a.zwemwater {
    background-position: -516px -960px;
}
a.lan {
    background-position: -396px -968px;
}
a.muziek {
    background-position: -100px -1052px;
}
a.bus {
    background-position: -254px -1050px;
}
a.l2g {
    background-position: -373px -1036px;
}
a.akzo {
    background-position: -740px -1036px;
}
a.vialis {
    background-position: -398px -1100px;
}
a.outlookwebapp {
    background-position: -502px -1090px;
}
a.dropbox {
    background-position: -858px -202px;
}
a.nexus {
    background-position: -928px -190px;
}
a.redmine {
    background-position: -928px -190px;
}
a.leaflet {
    background-position: -657px -1100px;
}
a.sencha {
    background-position: -10px -1134px;
}
a.sabnzb {
    background-position: -890px -904px;
}
a.arstechnica {
    background-position: -10px -1211px;
}
a.novaccent {
    background-position: -385px -1191px;
}
a.tools {
    background-position: -667px -1191px;
}
a.demonoid {
    background-position: -811px -1199px;
}
a.egghead {
    background-position: -190px -1284px;
}
a.codecademy {
    background-position: -373px -1260px;
}
a.khan {
    background-position: -380px -1318px;
}
a.lynda {
    background-position: -77px -1290px;
}
a.ziggo {
    background: #11386d -616px -1276px;
}
a.ted {
    background-position: -878px -968px;
}
a.edx {
    background-position: -878px -1060px;
}
a.joop {
    background-position: -284px -1310px;
}
a.opp {
    background: #003363 -600px -1330px;
}
a.sdn {
    background-position: -699px -1322px;
}
a.plnkr {
    background-position: 0 -1302px;
}
a.tweakers {
    background-position: -881px -734px;
}
a.apple {
    background-position: -890px -828px;
}
a.thinkster {
    background-position: -1049px 0;
}
a.udacity {
    background-position: -1034px -69px;
}